/* 
    Document   : Style
    Created on : 06-Aug-2012, 12:09:54
    Author     : Vanlalhriata
    Description: General stylesheet
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*root { 
    display: block;
}*/

div.body{
    width: 590px;
    margin: 40px;
    font-family: 'Times New Roman';
}

div.instructions{
    width: 80%;
    margin: 40px;
    font-family: 'Times New Roman';
}

table{
    border: none;
    width: 100%;
}

td{
    padding: 0px 5px;
}

.headLogo{
    width: 1px;
}

.headPmcf{
    vertical-align: bottom;
    font-size: 16pt;
    font-weight: bold;
}

.headSub{
    vertical-align: top;
    font-size: 14pt;
    color: gray;
}

.name{
    text-decoration: underline;
}

.right{
    text-align: right;
    vertical-align: top;
}

p{
    padding: 0px 5px;
    text-align: justify;
}

.pagebreak{
    page-break-before: always;
}